.action {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;    
}

.action:hover{
    color: #db7c26;
}

.action::before {
    content: "";
    background-color: #db7c26;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
