.button {
    display: inline-block;
    background-color: #db7c26;
    padding: 18px 20px;
    box-shadow: 5px 5px #000000;
    margin-right: 0;
    transition: transform 100ms linear;
    font-size: 20px;
}

.button:hover {
    transform: scale(1.08); 
    color: #FFFFFF;   
}