.header {
    display: flex;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: #555b6e; 
    border-bottom: 10px solid #000000;
    padding: 10px 20px;    
}