.main-title {
    font-family: "Protest Strike", sans-serif;
    font-size: 80px;
    color: #db7c26;
    text-shadow: 5px 5px 0 #000000;
}

.main-title.-second{
    color: #FFFFFF;
    text-shadow: none;
    text-align: center;
}